
// 颜色
$accentColor = #008C8C  //默认主题颜色
$textColor = #008C8C //默认字体颜色
$borderColor = #eaecef  //默认边框颜色
$codeBgColor = rgb(43, 52, 40)//默认背景颜色  代码块颜色
$backgroundColor = #ffffff    // 悬浮块背景色
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
